%section#main
  #info-lugares
    .info-lugares-title
      %h1.h1-header
        Centros de Salud de la Ciudad de Mexico
      %p
        Secretaría de Salud, SEDESA
      %p
        \-beta-
    .lugar-data

      #lugares-cerca.lugares-encabezado
        Cerca de aquí
        %i.fa.fa-chevron-down.flechaabajo
        %i.fa.fa-chevron-up.flechaarriba
      #lugares-pregunta.lugares-entrada{style: "display: none"}
        .place-entry-list
          .lugares-cargando
            %h3
              Cargando
      #lugar-encabezado-pregunta.lugares-encabezado
        Busca Centros de Salud
        %i.fa.fa-chevron-down.flechaarriba
        %i.fa.fa-chevron-up.flechaabajo
      #lugares-pregunta.lugares-entrada
        = form_tag '/preguntas.json', id: "preguntas", method: 'post', remote: true do
          = field_set_tag do
            = text_field_tag :pregunta, nil,placeholder: "condones, urgencias o tu direccion dirección"
            = submit_tag 'Buscar'
        .categorias
          %span.text-leyenda
            Encuentra
          .encabezado
            .filter-type
              = check_box_tag "Hospitales"
              %span.text-leyenda
                Hospitales
            .filter-type
              = check_box_tag "T-2"
              %span.text-leyenda
                T2
            .filter-type
              = check_box_tag "T-3"
              %span.text-leyenda
                T3
            .filter-type
              = check_box_tag "urgencias"
              %span.text-leyenda
                Emergencias
  #map


/ Templates para Mustache
%section#templates{style: "display: none"}
  %script#mustache-entry{type: "text/template"}
    {{#features}}
    .place-entry{"data-location-id" => "{{properties.id}}"}
      .vendor-image
        {{properties.distance_to_center}} km.
      %h4
        {{properties.name}}
      %p
        Teléfono:
        %strong
          {{properties.telefono}}
      %p.location
        %span.horari
          {{properties.horario}}
    {{/features}}
  %script#mustache-popup{type: "text/template"}
    {{#feature}}
    .popup
      .popup-info
        .popup-location
          %span.location
            {{properties.name}}
          %br
          %span.address
            %i.fi-compass
            - linkl = "https://maps.google.com?daddr={{geometry.coordinates.1}},{{geometry.coordinates.0}}&z=17&"
            %a{href: linkl, target: '_blank'}
              {{properties.address}}
            %a{href: "tel:{{properties.telefono}}"}
              Telefono: {{properties.telefono.0}}

    {{/feature}}


