%p#notice= notice

.container-fluid
  .row-fluid
    .span8
      %h2= "#{@place.tipo} - #{@place.subtipo}"
      %h1= @place.nombre

      %p 
        %strong Direccion: 
      =@place.direccion

      %p
      %strong Horario:
      =@place.horario

      %p
      %strong Tels:
      =@place.telefono

      .col-md-4
        %h2 Servicios otorgados
        .servicios
          -@place.categories.each do |cat|
            %strong=cat.tipo

    .span3
      %h2 Agenda una cita:

      .input-group
        %input{:type=>"text", :class=>"form-control", :placeholder => "Nombre"}
        %input{:type=>"text", :class=>"form-control", :placeholder => "Fecha"}
        %a.btn.btn-default{:href => "#"} Agendar

